.root {
  position: fixed;
  inset: 0;
}
.container {
  --position-left: 0;
  --position-top: 0;

  position: fixed;
  left: var(--position-left);
  top: var(--position-top);

  display: flex;
  align-items: center;
  justify-content: center;
}
