@use "../../style/variables" as *;

.header {
  background-color: var(--header-background-color);
  border-top-left-radius: $modal-border-radius;
  border-top-right-radius: $modal-border-radius;
  position: relative;

  padding: 0.3rem 0;
  text-align: center;

  p {
    font-weight: 300;
  }

  p:first-of-type {
    margin-bottom: 0.1rem;
    font-weight: bold;
  }
  p:last-of-type {
    font-size: 0.9rem;
  }
}

.content {
  min-height: 25rem;
  padding: 0 2rem 1rem;
}

.doneBtn {
  position: absolute;
  right: 0.6rem;
  top: 50%;
  transform: translateY(-50%);

  border: 0;
  border-radius: 0.4rem;

  background-color: var(--btn-green-background-color);
  padding: 0.5rem 1rem;

  &:hover {
    background-color: var(--btn-green-hover-background-color);
  }
}

.icon {
  font-size: 1.5rem;
}

.selectSections {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
}
