.root {
  --game-root-inline-padding: 12px;
  --game-root-block-padding: 12px;

  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 100%;

  padding-inline: var(--game-root-inline-padding);
  padding-block: var(--game-root-block-padding);
}

.container {
  --cell-height: 30px;
  --cell-font-size: calc(0.7 * var(--cell-height));
  --side-bar-gap: 2px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--side-bar-gap);
}
