.table {
  border-collapse: separate;
  border-spacing: 0 0.7rem;
}

.tableHeader {
  font-weight: bold;
}

.rankHeader {
  width: 50px;
}

.timeHeader {
  width: 300px;
}

.playerHeader {
  width: 100px;
}
